<!DOCTYPE html>
<html>
<head>
    <style>
        body { font-family: sans-serif; }
        .box {
            border: 2px solid #0a74da;
            padding: 20px;
            width: 400px;
            margin: auto;
            background: #f0f8ff;
            border-radius: 8px;
        }
        h2 { text-align: center; }
    </style>
</head>
<body>

<div class="box">
    <h2>SmartCanteen Receipt</h2>

    <p><strong>Name:</strong> {{ fullname }}</p>
    <p><strong>Email:</strong> {{ email }}</p>
    <p><strong>Phone:</strong> {{ phone }}</p>
    <p><strong>Total Paid:</strong> ₹{{ amount }}</p>
    <p><strong>Date:</strong> {{ date }}</p>
    <p><strong>Time:</strong> {{ time }}</p>

    <hr>
    <p style="text-align:center;">Thank you for your order!</p>
</div>

</body>
</html>
